* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

header {
    background-color: rgb(44, 62, 80);
    color: white;
}

.header {
    display: flex;
    justify-content:end;
}

#jumbo {
    background-color: rgb(26, 188, 156);
    color: white;
}

.avatar {
    width: 20%; 
}

.linea {
    background-color: white;
    border: solid 2px;
    width: 9%;
    margin-left: 39%;
    margin-bottom: -1%;
    display: flex;
}

.star {
    font-size: large;
    padding-left: 1%;
    padding-right: 1%;
}

.secondaLinea {
    background-color: white;
    border: solid 2px;
    width: 9%;
    margin-left: 52%;
    margin-top: -1%;
    display: flex;
}

.portfolio {
    display: flex;
}

.terzaLinea{
    background-color: black;
    border: solid 2px;
    width: 11%;
    height: 0;
    margin-left: 36%;
    margin-top: 1%;  
}

.star2{
    font-size: larger;
    padding-left: 1%;
    padding-right: 1%;
    color: black;
}

.quartaLinea{

    background-color: black;
    border: solid 2px;
    width: 11%;
    height: 0;
    margin-top: 1%;
}

.img {
    width: 40%;
    border-radius: 5%;

}

.star3 {
  font-size: larger;
  padding-left: 1%;
  padding-right: 1%;
}

.about {
    background-color:rgb(26, 188, 156);
    color: white;
}

hr {
    width: 80%;
    margin-left: 8%;
}

.btn{
    color: white;
    border: solid 1px white;
    margin-bottom: 2%;
    margin-left: 110%;
    text-align: center;
}

.btn2 {
    color: white;
    background-color: rgb(26, 188, 156);
    padding: 8px;
    border: aqua;
    border-radius: 10px;
    margin-bottom: 10%;
}   

.social {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 5%;
    border-radius: 100%;
    border: solid 1px white;
}

.brand {
    background-color: rgb(58, 84, 109);
    width: 100%;
}

footer {
    background-color: rgb(44, 62, 80);
    color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}